almostBlack = #030907
almostWhite = #fcf7f9
offWhite    = #f9fcfb
lightGray   = #d0b6a9
red         = #f21d23

body
  background-color almostWhite

.point
  font-family Arial
  color almostBlack
  
.big
  font-size 4em

.input-field
  font-family Arial
  color almostBlack
  font-size 2em
  background-color offWhite
  border 2px solid lightGray
  outline none