almostBlack = #030907
red         = #f21d23

body
  background-color almostBlack

.input-field
  width 700px
  font-size 1em
  margin-top 3em
  color red
  background-color almostBlack
  border 1px solid red
  outline none